<!--==================== HEADER ====================-->
<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            <img src="../assets/img/favicon_1.png" alt="" class="home__img">
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">Inicio</a>
                </li>
                <li class="nav__item">
                    <a href="#featured" class="nav__link">Información</a>
                </li>
                <li class="nav__item">
                    <a href="#new" class="nav__link">Nosotros</a>
                </li>
            </ul>

            <div class="nav__close" id="nav-close">
                <i class='bx bx-x' ></i>
            </div>
        </div>
    </nav>
</header>

<!--==================== MAIN ====================-->
<main class="main">
    <!--==================== HOME ====================-->
    <section class="home" id="home">
        <div class="home__container container grid">
            <div class="home__img-bg">
                <img src="assets/img/home.jpg" alt="" class="home__img">
            </div>

            <div class="home__social">
                <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                    Facebook
                </a>
                <a href="https://twitter.com/" target="_blank" class="home__social-link">
                    Tik tok
                </a>
                <!--a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                    Instagram
                </a-->
            </div>

            <div class="home__data">
                <h1 class="home__title">LA NUEVA <br> APLICACIÓN MÓVIL</h1>
                <p class="home__description">
                    MaBlin enfocada en niños con escasa o nula visión, para quienes 
                    la enseñanza de la aritmética básica requiere de abstracción 
                    auditiva y sensorial.
                </p>
                <div class="home__btns">
                    <a class="button home__button" href="../assets/archivos/mablin.apk" download="mablin.apk">
                        DESCARGAR
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!--==================== FEATURED ====================-->
    <!--section class="featured section container" id="featured">
        <h2 class="section__title">
            Featured
        </h2>

        <div class="featured__container grid">
            <article class="featured__card">
                <span class="featured__tag">Sale</span>

                <img src="assets/img/featured1.png" alt="" class="featured__img">

                <div class="featured__data">
                    <h3 class="featured__title">Jazzmaster</h3>
                    <span class="featured__price">$1050</span>
                </div>

                <button class="button featured__button">ADD TO CART</button>
            </article>

            <article class="featured__card">
                <span class="featured__tag">Sale</span>

                <img src="assets/img/featured2.png" alt="" class="featured__img">

                <div class="featured__data">
                    <h3 class="featured__title">Ingersoll</h3>
                    <span class="featured__price">$250</span>
                </div>

                <button class="button featured__button">ADD TO CART</button>
            </article>

            <article class="featured__card">
                <span class="featured__tag">Sale</span>

                <img src="assets/img/featured3.png" alt="" class="featured__img">

                <div class="featured__data">
                    <h3 class="featured__title">Rose gold</h3>
                    <span class="featured__price">$890</span>
                </div>

                <button class="button featured__button">ADD TO CART</button>
            </article>
        </div>
    </section-->

    <!--==================== STORY ====================-->
    <section class="featured section container" id="featured">
        <h2 class="section__title">
            Información
        </h2>
        <div class="story__container grid">
            <div class="story__data">
                <h2 class="section__title story__section-title">
                    Sobre el proyecto
                </h2>

                <h1 class="story__title">
                    Es una App móvil <br> lúdica
                </h1>

                <p class="story__description">
                    no necesita mucho espacio para ser transportada ya que se encuentra 
                    guardada en un dispositivo móvil, nuestro aplicativo tiene como 
                    principal atractivo la comunicación máquina humano, mediante el 
                    micrófono y vibrador integrados en el teléfono, los niños pueden 
                    responder a los audios con su voz y así resolver ejercicios 
                    aritméticos aleatorios planteados por la aplicación, permite 
                    mantener el registro de las calificaciones para poder ver el 
                    avance del usuario.
                </p>
            </div>

            <div class="story__images">
                <img src="assets/img/story.jpg" alt="" class="story__img">
                <div class="story__square"></div>
            </div>
        </div>
    </section>

    <!--==================== TESTIMONIAL ====================-->
    <!--section class="testimonial section container">
        <div class="testimonial__container grid">
            <div class="swiper testimonial-swiper">
                <div class="swiper-wrapper">
                    <div class="testimonial__card swiper-slide">
                        <div class="testimonial__quote">
                            <i class='bx bxs-quote-alt-left' ></i>
                        </div>
                        <p class="testimonial__description">
                            They are the best watches that one acquires, also they are always with the latest 
                            news and trends, with a very comfortable price and especially with the attention 
                            you receive, they are always attentive to your questions.
                        </p>
                        <h3 class="testimonial__date">March 27. 2021</h3>

                        <div class="testimonial__perfil">
                            <img src="assets/img/testimonial1.jpg" alt="" class="testimonial__perfil-img">

                            <div class="testimonial__perfil-data">
                                <span class="testimonial__perfil-name">Lee Doe</span>
                                <span class="testimonial__perfil-detail">Director of a company</span>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial__card swiper-slide">
                        <div class="testimonial__quote">
                            <i class='bx bxs-quote-alt-left' ></i>
                        </div>
                        <p class="testimonial__description">
                            They are the best watches that one acquires, also they are always with the latest 
                            news and trends, with a very comfortable price and especially with the attention 
                            you receive, they are always attentive to your questions.
                        </p>
                        <h3 class="testimonial__date">March 27. 2021</h3>

                        <div class="testimonial__perfil">
                            <img src="assets/img/testimonial2.jpg" alt="" class="testimonial__perfil-img">

                            <div class="testimonial__perfil-data">
                                <span class="testimonial__perfil-name">Samantha Mey</span>
                                <span class="testimonial__perfil-detail">Director of a company</span>
                            </div>
                        </div>
                    </div>

                    <div class="testimonial__card swiper-slide">
                        <div class="testimonial__quote">
                            <i class='bx bxs-quote-alt-left' ></i>
                        </div>
                        <p class="testimonial__description">
                            They are the best watches that one acquires, also they are always with the latest 
                            news and trends, with a very comfortable price and especially with the attention 
                            you receive, they are always attentive to your questions.
                        </p>
                        <h3 class="testimonial__date">March 27. 2021</h3>

                        <div class="testimonial__perfil">
                            <img src="assets/img/testimonial3.jpg" alt="" class="testimonial__perfil-img">

                            <div class="testimonial__perfil-data">
                                <span class="testimonial__perfil-name">Raul Zaman</span>
                                <span class="testimonial__perfil-detail">Director of a company</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="swiper-button-next">
                    <i class='bx bx-right-arrow-alt' ></i>
                </div>
                <div class="swiper-button-prev">
                    <i class='bx bx-left-arrow-alt' ></i>
                </div>
            </div>

            <div class="testimonial__images">
                <div class="testimonial__square"></div>
                <img src="assets/img/testimonial.png" alt="" class="testimonial__img">
            </div>
        </div>
    </section-->

    <!--==================== NEW ====================-->
    <section class="new section container" id="new">
        <h2 class="section__title">
            Nosotros
        </h2>
        
        <div class="new__container">
            <div class="swiper new-swiper">
                <div class="swiper-wrapper">
                    <article class="new__card swiper-slide">
                        <div class="main_team">
                            
                            <div class="profile-card">
                                <div class="img">
                                    <img src="assets/img/alan.jpg">
                                </div>
                                <div class="caption">
                                    <h3>Alan Oña</h3>
                                    <p>Senior App Developer</p>
                                    <div class="social-links">
                                        <a target="_blank" href="https://www.facebook.com/alan.ona.3/"><i class='bx bxl-facebook'></i></a>
                                        <a target="_blank" href="https://www.instagram.com/al4nfabri/"><i class="bx bxl-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-card">
                                <div class="img">
                                    <img src="assets/img/simonet.jpg">
                                </div>
                                <div class="caption">
                                    <h3>Camilla Canencia</h3>
                                    <p>Voice Assistant</p>
                                    <div class="social-links">
                                        <a target="_blank" href="https://www.facebook.com/profile.php?id=100080215205503"><i class='bx bxl-facebook'></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </article>                     
                </div>
            </div>
        </div>
    </section>

    <!--==================== NEWSLETTER ====================-->
    <!--section class="newsletter section container">
        <div class="newsletter__bg grid">
            <div>
                <h2 class="newsletter__title">Subscribe Our <br> Newsletter</h2>
                <p class="newsletter__description">
                    Don't miss out on your discounts. Subscribe to our email 
                    newsletter to get the best offers, discounts, coupons, 
                    gifts and much more.
                </p>
            </div>

            <form action="" class="newsletter__subscribe">
                <input type="email" placeholder="Enter your email" class="newsletter__input">
                <button class="button">
                    SUBSCRIBE
                </button>
            </form>
        </div>
    </section-->
</main>

<!--==================== FOOTER ====================-->
<footer class="footer section">
    <!--div class="footer__container container grid">
        <div class="footer__content">
            <h3 class="footer__title">Our information</h3>

            <ul class="footer__list">
                <li>1234 - Peru</li>
                <li>La Libertad 43210</li>
                <li>123-456-789</li>
            </ul>
        </div>
        <div class="footer__content">
            <h3 class="footer__title">About Us</h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Support Center</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Customer Support</a>
                </li>
                <li>
                    <a href="#" class="footer__link">About Us</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Copy Right</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Product</h3>

            <ul class="footer__links">
                <li>
                    <a href="#" class="footer__link">Road bikes</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Mountain bikes</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Electric</a>
                </li>
                <li>
                    <a href="#" class="footer__link">Accesories</a>
                </li>
            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Social</h3>

            <ul class="footer__social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-facebook'></i>
                </a>

                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-twitter' ></i>
                </a>

                <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram' ></i>
                </a>
            </ul>
        </div>
    </div-->

    <span class="footer__copy">&#169; Alanfabri64. All rigths reserved</span>
</footer>

<!--=============== SCROLL UP ===============-->
<a href="#" class="scrollup" id="scroll-up"> 
    <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
</a>

<router-outlet></router-outlet>
